body {
  font-family: math;
}
.tophead {
  height: 40px !important;
  background-size: cover !important;
  background-image: url(https://adn-static1.nykaa.com/media/wysiwyg/2023/Holi_common-strip.jpeg);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  list-style: none;
}
.navbar {
  width: 38%;
  float: right;
}
.navbar li {
  border-right: 1px #909090 solid;
  padding: 0 12px;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  float: right;
}
.navbar a {
  text-decoration: none;
  outline: none;
}
.navbar li:first-child {
  border-right: none;
}
.navbar a,
.menu-bottom a {
  color: black;
}
.third-nav a {
  color: #b519bf;
}

.menu-bottom a {
  padding: 12px;
}

.menu-bottom a:link {
  text-decoration: none;
}
.third-nav a:link {
  text-decoration: none;
}
.navbar a:visited {
  text-decoration: none;
}
.third-nav a:visited {
  text-decoration: none;
}
.navbar a:hover {
  color: #909090;
}
.third-nava:hover {
  color: #909090;
}
.navbar a:link {
  text-decoration: none;
}
.third-nav a:link {
  text-decoration: none;
}

.leftdiv {
  width: 50%;
  float: left;
  padding-left: 95px;
}
.sale {
  width: 300px;
  position: relative;
  animation: myfirst 1.5s infinite;
  animation-direction: reverse;
}
.dv {
  width: 300px;
  height: 65px;
  position: absolute;
  top: 40px;
  background: white;
}
.font {
  color: black;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 0.5;
  font-size: 16px;
}
@keyframes myfirst {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 40px;
  }
}
.bottom-nav {
  height: 65px;
  position: relative;
  width: 100%;
}
.logo {
  width: 15%;
  color: #d36dbd;
  font-size: 35px;
  font-family: emoji;
  letter-spacing: 2px;
  float: left;
  font-weight: 600;
  padding-left: 72px;
  padding-top: 5px;
}

.menu-bottom {
  width: 50%;
  float: left;
  padding-left: 30px;
  padding-top: 2px;
}
.menu-bottom li {
  padding: 0 12px;
  font-size: 18px;
  font-style: normal;
  letter-spacing: normal;
  float: left;
  font-weight: 500;
}
.three-col {
  width: 35%;
  float: left;
}
.out {
  width: 50%;
  float: left;
}
.serch {
  background-color: rgb(243, 243, 243);
  border-radius: 4px;
  width: 90%;
}
input[type="text"].serch {
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 189px;
  outline: none;
  padding: 8px;
  margin: 0px 0 0px 0;
}
input[type="text"].serch:focus {
  border: 2px solid #f10898;
}
.sign {
  width: 30%;
  float: left;
}
.si-bt {
  text-align: center;
  color: white;
  width: 50%;
  border-radius: 10px;
  background-color: #d17bd7;
  padding: 8px 13px;
  border: none;
}
.basket {
  width: 20%;
  float: left;
  font-size: 34px;
}
.third {
  width: 100%;
  float: left;
  height: 56px;
  box-shadow: 0px 5px 5px lightgray;
}
.third-nav {
  width: 86%;
  float: left;
  padding-left: 108px;
  padding-top: 16px;
}
.third-nav li {
  padding: 0 16px;
  font-size: 16px;
  font-style: normal;
  letter-spacing: normal;
  float: left;
  font-weight: 500;
}
.third-image {
  float: left;
  width: 13%;
  padding-top: 7px;
  padding-left: 17px;
}
.third-image img {
  height: 40px;
  width: 80%;
}
.h3 {
  padding-left: 58px;
  margin-top: 86px;
  font-family: serif;
  color: #c142c1;
}

.outer {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
}
.inner {
  flex: 0 0 25%;
  height: 320px;
  margin: 11px;
}
.inner img {
  border-radius: 30px;
  width: 500px;
  height: 278px;
}

.paddle {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 30px;
  height: 20px;
}
.lefty {
  left: 0;
}
.righty {
  right: 0;
}
.wrapper {
  display: flex;
  justify-content: center;

  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 980px;
}
.title {
  font-family: math;
  text-align: center;
  font-weight: 600;
  color: #fb0c0c;
  font-size: 28px;
  padding-top: 6px;
}

marquee {
  padding: 0px;
  font-family: math;
  color: rgb(25, 229, 236);
  font-size: 15px;
}
h4 {
  color: #fb0c0c;
  font-size: 21px;
  margin: 0px;
  text-align: center;
  max-width: 600px;
  position: relative;
}
h4:before {
  content: "";
  width: 150px;
  height: 1px;
  background: #ef5350;
  left: 80px;
  top: 11px;
  position: absolute;
}
h4:after {
  content: "";
  width: 150px;
  height: 1px;
  background: #ef5350;
  right: 80px;
  position: absolute;
  top: 11px;
}

td {
  color: #f9bb0c;
  font-size: 22px;
  padding: 20px;
}
th {
  float: left;
  font-size: 22px;
  color: #e14779;
  font-family: revert;
  padding-bottom: 15px;
}
input[type="text"] {
  margin: 0px 0 5px 0;
  width: 100%;
  border: none;
  background: #f1f1f1;
}

.btn {
  padding: 10px 40px 10px 40px;
  text-align: center;
  background-size: 200%;
  color: white;
  width: 100%;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-1 {
  background-image: linear-gradient(
    to right,
    #f6d365 0%,
    #fda085 51%,
    #f6d365 100%
  );
}

.top-pad {
  padding-top: 40px;
}
.main {
  background-color: #fff;
}
.mycol {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.form-group {
  padding: 0;
}
